<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit info about worker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/employees">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/product/list">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/client/list">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/order/list">Orders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-3">
            <form class="row g-3" action="#" th:action="@{/employee/edit}" th:object="${form}" method="post">
                <input type="hidden" th:value="${id}" th:field="*{id}"/>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="firstName">First Name</span>
                    <input type="text" th:field="*{firstName}" th:value="*{firstName}" class="form"
                           placeholder="FirstName" aria-label="FirstName" aria-describedby="addon-wrapping">
                </div>

                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="lastName">Last Name</span>
                    <input type="text" th:field="*{lastName}" th:value="*{lastName}" class="form"
                           placeholder="LastName" aria-label="LastName" aria-describedby="addon-wrapping">
                </div>

                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="employmentDate">Employment Date</span>
                    <input type="date" th:field="*{employmentDate}" th:value="*{employmentDate}" class="form"
                           placeholder="EmploymentDate" aria-label="EmploymentDate" aria-describedby="addon-wrapping">
                </div>

                <div class="input-group flex-nowrap">
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="salary">Salary</span>
                        <input type="number" th:field="*{salary}" th:value="*{salary}" class="form-control"
                               placeholder="Salary" aria-label="Salary" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap">
                        <select class="form-select" name="department" id="department">Department>
                            <option th:field="*{department}"
                                    th:each="department : ${T(msadur.virtualoffice.model.employees.Department).values()}"
                                    th:value="${department}" th:text="${department}">
                            </option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Edit</button>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>