<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Workers list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/employees">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/product/list">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/client/list">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/order/list">Orders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Employment Date</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Department</th>
                    <th scope="col">Actions</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each=" worker : ${workers}">
                    <tr>
                        <th scope="row"><span th:text="${worker.id}">...</span></th>
                        <td><span th:text="${worker.firstName}">...</span></td>
                        <td><span th:text="${worker.lastName}">...</span></td>
                        <td><span th:text="${worker.employmentDate}">...</span></td>
                        <td><span th:text="${worker.salary}">...</span></td>
                        <td><span th:text="${worker.department}">...</span></td>
                        <td>
                            <a th:href="@{'/employee/edit'(id=${worker.id})}">
                                <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i>
                                </button>
                            </a></td>
                        <td>
                            <a href="/employees">
                                <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-trash"></i>
                                </button>
                            </a></td>
                    </tr>
                </th:block>
                <div>
                </div>
                </tbody>
            </table>
            <td><a href="/employee/create">
                <button type="button" class="btn btn-primary btn-sm">Create New</button>
            </a></td>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>